{% extends 'layout/base.html' %}
{% load static %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!--/ Form Search Star /-->


<!--/ Nav Star /-->
<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
  <div href="#home" class="container">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a class="navbar-brand text-brand">Kobongor<span class="color-b"> Women Group </span></a>
    <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-search" aria-hidden="true"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Our Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mission">Mision & vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact us</a>
        </li>
      </ul>
    </div>
    <button type="button" id="contact" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
            data-target="#navbarTogglerDemo01" aria-expanded="false">
      <span class="fa fa-phone" aria-hidden="true"></span>
    </button>
  </div>
</nav>
<!--/ Nav End /-->

<!--/ Carousel Star /-->
<div id="home" class="intro intro-carousel">
  <div id="carousel" class="owl-carousel owl-theme">
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/slider1.JPG)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <h1 class="intro-title mb-4">
                    <br> Kobogor Women</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/service1.jpg)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <p class="intro-title-top">
                    <br> Food and basic amenities distribution</p>
                  <h1 class="intro-title mb-4">
                    <br> Food aid to the needy in the community</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/DSC_1682.JPG)">
      <div class="overlay overlay-a"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <div class="row">
              <div class="col-lg-8">
                <div class="intro-body">
                  <h1 class="intro-title mb-4">
                    <br>Kobogor Women</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="carousel-item-a intro-item bg-image" style="background-image: url(/static/img/empowerment.jpg)">-->
<!--      <div class="overlay overlay-a"></div>-->
<!--      <div class="intro-content display-table">-->
<!--        <div class="table-cell">-->
<!--          <div class="container">-->
<!--            <div class="row">-->
<!--              <div class="col-lg-8">-->
<!--                <div class="intro-body">-->
<!--                  <br>Women Empowerment meeting</h1>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
</div>
<!--/ Carousel end /-->
<!--about section-->
<section id="about" class="section-about section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">About Us</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-box-c foo">
        <div class="card-body-c">
          <p class="content-b">
            It's a women organisation that provides holistic support to women through social and economic
            empowerment programmes to enable them to thrive and fully contribute,participate in the
            community
          </p>
          <p>
            Kobogor women group is a social economic empowerment entity that works to help the community
            co-created sustainable solutions to build and better themselves their families and community.
            The group was founded by two women Mrs Bornice Mutai and Gladys Chumek and as incrementally
            grown to now over 250 members.
            The group operates through tailored programmes to meet the special needs of the community.
            It was founded in 2019 June and currently operates within kipkelion east constituency of kericho
            county kenya.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ about End /-->


<!--/ Services Star /-->
<section id="services" class="section-services section-t8">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Our Services</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <img src="/static/img/counselling.jpeg"/>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-d">Lifestyle/<br>Counselling</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Kobogor Women group provide Professional Counseling in matter of:
            <li>Marriage counselling </li>
            <li>Family relationship</li>
            <li>Difficult emotions – e.g,lose of relative, low self-esteem or anger</li>
            <li>sexual</li>
            </p>
          </div>
        </div>
      </div>
      <div  href="#economics" class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-usd"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-e">Economic empowerment</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Investing in women’s economic empowerment sets a direct path towards gender equality,
              poverty eradication and inclusive economic growth. Women make enormous contributions to economies,
              whether in businesses, on farms, as entrepreneurs or employees, or by doing unpaid care work at home
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <img src="/static/img/christianity.jpg">
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-e">Moral &<br>
                Spiritual mentorship</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              Kobogor Women group provide Spiritual mentorship to our women in the group,we focus on:
            <li>Spiritual Growth of our community member though spiritual teaching and guidance</li>
            <li>We provide a listening Ear and Advice</li>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <img src="/static/img/sports.png" alt="">
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-e">Sports</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              As Kobogor community we encourage our women to keep fit and stay healthy;
              in this effect our women engage in sports activities like our women football team,
              women volleyball that has competed in many sport level within the county.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-box-c foo">
          <div class="card-header-c d-flex">
            <div class="card-box-ico">
              <span class="fa fa-book"></span>
            </div>
            <div class="card-title-c align-self-center">
              <h2 class="title-e">Trainings</h2>
            </div>
          </div>
          <div class="card-body-c">
            <p class="content-c">
              As part of women empowerment, we educate our women in to:
            <li>Improve the cooking skills through our cooking classes tutored by our trained chefs</li>
            <li>we equip them with basic life skills</li>
            <li>Knitting Training</li>
            <li>Formal elderly Education</li>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Services End /-->
<!--mission section-->
<section id="mission" class="section-about section-t8">
  <div align="center" class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Mission & Vision</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-box-c foo">
        <div class="card-body-c">
          <h2 class="title-c"  align="center">Mission</h2>
          <p class="content-b"  align="center">
            To positively impact lives in our community
          </p>
          <h2 class="title-c"  align="center">Vision</h2>
          <p class="content-b"  align="center">
            To support every woman to anlish their full potential and be their own self in there day to day
            operations </p>

        </div>
      </div>
    </div>
  </div>
</section>
<!--/ mission End /-->

<!--/ Testimonials Star /-->
<section class="section-testimonials section-t8 nav-arrow-a">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrap d-flex justify-content-between">
          <div class="title-box">
            <h2 class="title-a">Testimonials</h2>
          </div>
        </div>
      </div>
    </div>
    <div id="testimonial-carousel" class="owl-carousel owl-arrow">
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="/static/img/im1.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">
                  #
                </p>
              </div>
              <div class="testimonial-author-box">
                <img src="/static/img/mini-testimonial-1.jpg" alt="" class="testimonial-avatar">
                <h5 class="testimonial-author">#</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a">
        <div class="testimonials-box">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-img">
                <img src="/static/img/dance.jpg" alt="" class="img-fluid">
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="testimonial-ico">
                <span class="ion-ios-quote"></span>
              </div>
              <div class="testimonials-content">
                <p class="testimonial-text">
                  #
                </p>
              </div>
              <div class="testimonial-author-box">
                <img src="/static/img/mini-testimonial-2.jpg" alt="" class="testimonial-avatar">
                <h5 class="testimonial-author">#</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/ Testimonials End /-->
<!--form contact-->
<div class="click-closed"></div>
<div class="box-collapse">
  <div class="title-box-d">
    <h3 class="title-d">Contact Us</h3>
  </div>
  <span class="close-box-collapse right-boxed ion-ios-close"></span>
  <div class="box-collapse-wrap form">
    <form class="form-a">
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Phone" required>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control form-control-lg form-control-a" placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="form7">Message</label>
            <textarea id="form7" class="md-textarea form-control" rows="3" placeholder="Write to us"></textarea>
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-b">Send Message</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--/ Form contact End /-->

<!--/ footer Star /-->
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Kobogor Women Group</h3>
          </div>
          <div class="w-body-a">
            <p class="w-text-a color-text-a">
              #
            </p>
          </div>
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Email .</span> kobogorcommunity@gmail.com</li>
              <li class="color-a">
                <span class="color-text-a">Phone .</span> +254 719 694432</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">The Community</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Mentors/Advisers</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
